<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaEntidad.Properties.Settings.DBClinicaConnectionString"
            connectionString="Data Source=LAPTOP-3FN68QJO\SQLEXPRESS;Initial Catalog=DBClinica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>